.attribute-ebu {
  font-size: 13px;
  margin-bottom: 12px;
}

.attribute-label-ebu {
  min-width: 142px;
  padding-right: 5px;
  display: inline-block;
  color: var(--greyForegroundColor);
  font-weight: 700;
}

.attribute-category,
.attribute-licence,
.attribute-language,
.attribute-tags,
.attribute-duration,
.attribute-privacy{
  display: none !important;
}

.col-md-12 {
 display: flex;
 flex-wrap: wrap;
 gap: 1rem;
}

.col-xl-8 {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-group h2 {
  width: 6000px;
}

.form-group h3 {
  width: 6000px;
}

.form-group h4 {
  width: 6000px;
}

/*
Make further customizations using the nth selector
*/